*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: calc(100vh - 80px);
    display: flex;
}

/* menu navigazione */
nav{
    width: 200px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
}

/* menu */
.menu{
    min-height: 100px;
    color: white;
    padding-left: 5px;
}

/* logo */
#logo{
    height: 40px;
    margin-bottom: 20px;
}

#logo a img{
    height: 100%;
}

/* list search */
.menu .list{
    list-style-type: none;
}

.menu .list li{
    padding-bottom: 5px;
}

.menu .list a{
    text-decoration: none;
    color: white;
    display: flex;
}

.list.search img{
    height: 20px;
    display: block;
}

.menu .list span{
   padding-left: 5px;
   font-size: 14px;
}

.menu a:hover, #add-play span:hover{
    text-decoration: underline;
}

/* playlist */
.menu h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

#add-play{
    text-decoration: none;
}

#add-play i{
    background-color: grey;
    padding: 10px;
    margin-bottom: 10px;
}

#add-play span{
    color: white;
    padding-left: 5px;
}

.list.playlist li{
    margin: 5px 0;
    font-size: 14px;
}

/* profilo */
#profilo{
    background-color: black;
    color: white;
    min-height: 80px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 20px;
}

#user{
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}

#profilo a, #user a{
    color: grey;
    text-decoration: none;
}

#profilo a:hover{
    color: white;
    text-decoration: underline;
}

/* corpo centrale */
main{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

header{
    height: 80px;
    background-color: #080B12A3;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    z-index: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#button-upgrade{
    margin-right: 20px;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

#button-upgrade:hover{
    background-color: grey;
    transform: scale(1.2);
    margin-right: 50px;
}

section{
    margin: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 14px;
}

/* main menu */
.main-menu{
    margin-top: 100px;
    padding-bottom: 30px;
    color: white;
    font-size: 14px;
}

.list-main-menu{
    display: flex;
    list-style-type: none;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}

.list-main-menu a{
    color: white;
    text-decoration: none;
}

.list-main-menu a:hover{
    text-decoration: underline;
}

/* sezione recently */
.row{
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.col{
    min-height: 50px;
    width: calc(100% / 6 - 20px);
    margin: 10px;
    text-align: center;
}

.row .col img{
    width: 100%;
    display: block;
}

.sub-text{
    color: grey;
    margin-top: 5px;
}

.img-col{
    margin-bottom: 10px;
    position: relative;
}

.play-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.play-hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.img-col:hover .play-hover{
    display: block;
}

/* artisti più popolari */
.img-col.circle img, .play-hover.circle{
    border-radius: 50%;
}

/* footer */
/* sezione player */
footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 899;
    display: flex;
}

.col.left{
text-align: left;
}

.col.right{
  
}

.col.center{
    width: 64%;
}

.col.left, .col.right{
    width: 18%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col.left img{
    width: 50px;
}

.col.left i{
    margin-left: 5px;
}

.footer-text{
    padding-left: 10px;
    padding-right: 30px;
}

.keys{
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.center-volume{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-volume span{
    padding: 0 20px;
}

.volume{
    width: 65%;
    height: 3px;
    background-color: grey;
    border-radius: 20px;
}

.sub-volume{
    width: 30%;
    height: 3px;
    background-color: #ada8a8;
    border-radius: 20px;
}


/* responsive query */

@media screen and (max-width:768px) {
    .list-main-menu{
        width: 100%;
        font-size: 0.7rem;
    }

    .col {
        width: calc(100% / 4 - 20px);
    }

    .col.left, .col.right{
        width: 38%;
    }

    .footer-text {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 0.7rem;
      }

      .keys{
        width: 40%;
      }

    .col.right a{
        padding-right: 10px;
    }
    
}

@media all and (max-width: 576px) {
    section{
        margin-bottom: 0;
    }

    .main-menu{
        padding-bottom: 0;
    }

    .list-main-menu{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .list-main-menu li{
        padding-bottom: 20px;
    }

    .col{
        width: calc(100% / 2 - 20px);
    }

    footer{
        font-size: 0.7rem;
    }

    .footer-text{
        font-size: 0.5rem;
    }
}

@media screen and (max-width:368px) {
    nav{
        width: 50px;
        padding-left: 0;
    }

    main {
        width: calc(100% - 50px);
    }

    header {
        left: 50px;
        width: calc(100% - 50px);
    }

    #button-upgrade{
        scale: 0.8;
        margin-right: 0;
    }

    .menu .list span, .menu h4, #add-play, .menu .list.playlist{
        display: none;
    }

    .list.search img{
        margin-left: 10px;
    }

    #profilo span{
        display: none;
    }

    #profilo a, #user a{
        margin-left: 10px;
    }

    #user {
        margin-top: 0;
        border-top: none;
        padding-top: 0;
    }

    .col.left, .col.right {
        width: 25%;
        margin: 10px 5px;
    }

    .footer-text {
        padding-right: 5px;
        padding-left: 5px;
    }

    .col.center {
        margin: 10px 0;
      }

      .col.left img{
        display: none;
      }

      .keys {
        width: 60%;
      }

      .center-volume span {
        padding: 0 5px;
      }

      .col.right a{
        font-size: 0.5rem;
        padding-right: 5px;
      }
}